*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 .header{
     display: flex;
     justify-content: space-around;
     
    
     background: #FDEFD5;
     width: 100%;
     padding: 5px;
     
 }


 li {
     display: flex;
     align-items: center;
     justify-content: center;
     list-style-type: none;
     margin: 0 13px;
     padding: 10px;
     color: blue;
     font-size: 17px;
     background-color: #fff;
 }

 ul{
     display: flex;
     
 }

 a{
    text-decoration: none;
 }

 .logo{
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 30px;
     font-weight: bold;
     color: #F66348;
     background: #fff;
     padding: 5px
 }

 .left-links {
     display: flex;
     justify-content: flex-start;
     align-items: center;
 }

 .right-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}